body{
	font-family: Lato;
	font-weight: 400;
}
h1, h2, h3{
	font-family: Bebas-neue;
	color: rgb(4,9,14);
	margin: 0;
}
h1 .smaller, h2 .smaller, h3 .smaller{
	font-family: "Lato";
	font-weight: 300;
	vertical-align: top;
  line-height: 1em; 
}
h1 .pink{
  color: rgb(226,0,122);
}

h1{ font-size: 5em; }
h2{ font-size: 3em; }
h3{	font-size: 2em; }
h1 .smaller{	font-size: 0.9em; }
h2 .smaller{  font-size: 0.9em; }
h3 .smaller{}

ul li{
	/*font-size: 17pt;*/
	font-weight: 400;
}
p{
	margin-bottom: 0pt;
	padding:10pt 20pt;
}
header{
  margin:20pt auto;
  padding:10pt 0;
}
header h1, header h2{
  width:49%;
  display: inline-block;
  min-height: 100px;
}
header h1{
  
}
header h2{
  text-align: right;
  right:0;
  float:right;
  vertical-align: bottom;

}
header .box-separator{
  border-bottom:1pt dotted rgb(4,9,14);
  background: url('../img/header_background_cut.png') bottom left no-repeat;
  min-height:20px;
  margin-bottom: 10pt;
}
.box{
	border:1pt dotted rgb(226,0,122);
	margin:20pt auto;
	padding:10pt 20pt;
  margin-bottom:0px;
  text-align: center;
}
.box-separator{
  background: url('../img/box_background_cut.png') top right no-repeat;
  min-height:35px;
}
.box ul li{
	font-size: 18.30pt;
	font-weight: 300;
}
.box p{
  padding:0;
}
.box a{
	font-family: inherit;
  text-decoration: underline;
  display: inline;
}
.black-box{
  margin-top: 20pt;
	padding-left:5pt;
	padding-right:5pt;
	background-color:rgb(4,9,14);
	color: rgb(255,255,255);
	display: inline-block;
}
.separator:before{
	content: " / ";
	display: inline-block; 
	margin-left: 10px;
	margin-right: 10px;
}
.headline {
      /*TODO:IE8-9*/
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
}
.headline li{
  font-size: 1.5em;
}
.separator.circle:before{
	content: " • ";
	margin-left: 0;
}
.en{
	font-weight: 300;
}
.smaller{
	font-weight: 300;
}
header ul li{
	display: inline-block;
	white-space: nowrap;
}
ul.what, ul.find{
	list-style: none;
	margin-top: 10pt;	
}
ul.what{
	margin-bottom: 0;
}
ul.find li{
	display: inline-block;
	width: 15mm;
	height: 15mm;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*TODO: fallbacks*/
}
ul.find li a{
	font-size:0.01px;
	width:100%;
	height:100%;
	display: block;
}
ul.find li.in{background-image:  none,url('../img/linkedin.png'); }
ul.find li.fb{background-image:  none, url('../img/facebook.png'); }
ul.find li.be{background-image:  none, url('../img/behance.png'); }
ul.find li.pr{background-image:  none, url('../img/pinterest.png'); }
ul.find li.i{background-image:  none, url('../img/instagram_black.png'); }

ul.what li:before{
	content: "»";
	margin-right: 10pt;	
}

div.find-me{
	position: absolute;
	font-size:0.01px;
	left:-35mm;
	width: 35mm;
	height: 25mm;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*TODO: fallbacks*/

}
div.find-me.desktop{
  display: block;
  background-image:  url('../find_me_right.png');
  background-image:  none, url('../img/find_me_right.svg'), url('../find_me_right.png');
}
div.find-me.mobile{
  position: relative;
  left:0;
  margin:auto;
  width: 74mm;
  height: 54mm;
  display: none;
  background-image:  url('../find_me_up.png');
  background-image:  none, url('../img/find_me_up.svg'), url('../find_me_up.png');
}
  



.titles{
  width:100%;
  display: block;
  margin-bottom: 10pt;
}
body, html {
  height: 100%;
}
.step{
  display: block;
  min-height: 100%;
  border:0;
}
.step:before, .step:after{
  content: " ";
  display: block;
  clear: both;
}
.previous-step, .next-step{
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(4,9,14);
  font-family: Bebas-neue;
}
.previous-step:hover, .next-step:hover{
  color: rgb(226,0,122);
}

.portfolio{
}
.portfolio .item img{
  display: block;
  width: 100%;
  height: auto;
}


/*Media*/

@media (max-width: 960px) {
  header h1, header h2{
    min-height: 50px;
  }
  ul.headline{
    display: block;
  }
  ul.headline li{
    display: inline-block;
    width: 48%;
    text-align: right;
  }
  ul.headline li:first-child{
    text-align: left;
  }
  ul.headline li.clear:before{
    display: block;
    clear: both;
    content: "";
  }
  ul.headline li.clear{
    clear: left;
    text-align: left;
  }
  ul.headline li.hidden{
    display: none;
  }
  ul.headline li.small-separator{
    width: 2%;
  }
  ul.find{
    /*TODO:IE8-9*/
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
  }
  div.find-me.desktop{display: none;}
  div.find-me.mobile{display: block;}

  header ul li{
    display: inline-block;
    width: 49%;
    clear: both;
    text-align: center;
  }
  ul.what .en{
    clear: both;
  }
  ul.what .separator{
    
  }
}

@media (max-width: 768px) {
  .step{
    min-height: 0;
  }
  header h1, header h2{
    display: block;
    float: none;
    min-height:0;
    width: 100%;
    text-align: left;
    line-height: 1.5em;
  }
  ul.headline li, ul.headline li.clear, ul.headline li:first-child {
    display: block;
    width: 100%;
    text-align: center;
  }
  ul.headline li.small-separator{
    display: none;
  }

}