body{
	font-family: Lato;
	font-weight: 400;
}
h1, h2, h3{
	font-family: Bebas-neue;
	color: rgb(4,9,14);
	margin: 0;
}
h1 .smaller, h2 .smaller, h3 .smaller{
	font-family: "Lato";
	font-weight: 300;
	vertical-align: top;
  line-height: 1em; 
}
h1 .pink{
  color: rgb(226,0,122);
}

h1{ font-size: 5em; }
h2{ font-size: 3em; }
h3{	font-size: 2em; }
h1 .smaller{	font-size: 0.9em; }
h2 .smaller{  font-size: 0.9em; }
h3 .smaller{}

ul li{
	/*font-size: 17pt;*/
	font-weight: 400;
}
li, p{
  font-size:1.1em;
}
p{
  margin-bottom: 0pt;
  padding:10pt 0pt;
}
p.contact-info{
  padding: 10pt 15pt;
  margin-top:10pt;
	text-align: left;
}
.slide{
  padding-top:10px;
  vertical-align: top;
}
header{
  margin:20pt auto 0 auto;
  padding:10pt 0 0 0;
}
.titles h1, .titles h2{
  display: inline-block;
  min-height: 100px;
  line-height: 100px;
}
.titles h1{
  padding-right: 20px;
}
.titles h2{
  vertical-align: bottom;
  padding-right: 20px;
}
.titles h1 > span{
  padding:0;
}
.titles h2 > span{
  border-left: 1px solid black;
  padding-left: 20px; 
}
ul.headline li{
  font-size:2.0em;
}
#header{
  position:fixed;
  overflow: hidden;
  height: 50px;
  background-color: #fff;
  display:block;
  opacity: 0;
  width: 100%;
  z-index:9;
  text-align:center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
  top:0px;
}
#header .titles{
  margin-top:-40px;
}
#header .titles{
  margin-top:-40px;
}
#header .titles h2 .smaller{
  line-height: 2em;
}
#header .titles h1{
  font-size: 3.5em;
  line-height: 1.6em;
}
#header .titles h1, #header .titles h2{
  min-height: 0;
  height: 70px;
}
.titles h2{
  font-size: 3.5em;
}
.titles h2 span{
  line-height: 2em;
}
#header .titles h1, #header .titles h2{
  float: left;
}
header .box-separator, #header .box-separator{
  border-bottom:1pt dotted rgb(4,9,14);
  background: url('../img/header_background_cut.png') bottom left no-repeat;
  min-height:20px;
  margin-bottom: 10pt;
}
#header .box-separator{
  background: none;
  min-height:1px;
}
.form fieldset{
  border:1pt dotted rgb(4,9,14);
}
.form fieldset label{
  margin-top:20px;
}
.form fieldset label.error { 
  color: rgb(226, 0, 122); 
  padding-left:10px;
}

.box{
	margin:0 auto 20pt auto;
	padding:20pt 15pt;
  margin-bottom:0px;
  text-align: left;
}
.box-separator{
  min-height:35px;
}
.box ul li{
	font-size: 18.30pt;
	font-weight: 300;
}
.box p{
  padding:0;
}
.box a{
	font-family: inherit;
  text-decoration: underline;
  display: inline;
}
.black-box{
  margin-top: 30px;
	padding-left:5pt;
	padding-right:5pt;
	background-color:rgb(4,9,14);
	color: rgb(255,255,255);
	display: inline-block;
}
.separator:before{
	content: " | ";
	display: inline-block; 
	margin-left: 10px;
	margin-right: 10px;
}
.headline {
      /*TODO:IE8-9*/
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
}
.headline li{
  font-size: 1.5em;
}
.separator.circle:before{
  content: " • ";
  margin-left: 0;
}
.headline li.small-separator span.separator, .headline li.hidden span.separator{
  font-size: 0.7em;
}
.en{
	font-weight: 300;
}
.smaller{
	font-weight: 300;
}
header ul li{
	display: inline-block;
	white-space: nowrap;
}
ul.what, ul.find{
	list-style: none;
	margin-top: 10pt; 
}
ul.what{
  margin-bottom: 0;
}
ul.what li{
  margin-bottom: 0;
  font-size: 1.3em;
}
ul.find{
	margin-top: 20pt;
  padding-left: 10px;
}
ul.find li{
	display: inline-block;
	width: 20mm;
  height: 20mm;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*TODO: fallbacks*/
}
ul.find li a{
	font-size:0.01px;
	width:100%;
	height:100%;
	display: block;
}
ul.find li:hover, ul.find li{
  background-position: center center;
  transition: background-size 0.2s ease-in-out;
  -moz-transition: background-size 0.2s ease-in-out;
  -ms-transition: background-size 0.2s ease-in-out;
  -o-transition: background-size 0.2s ease-in-out;
  -webkit-transition: background-size 0.2s ease-in-out;
}
ul.find li:hover{
  background-size: 110% 110%;
}
ul.find li.in{background-image:  none,url('../img/linkedin.png'); }
ul.find li.fb{background-image:  none, url('../img/facebook.png'); }
ul.find li.be{background-image:  none, url('../img/behance.png'); }
ul.find li.pr{background-image:  none, url('../img/pinterest.png'); }
ul.find li.i{background-image:  none, url('../img/instagram_black.png'); }

ul.what li > span:before{
	content: "»";
  float: left;
	margin-right: 10pt;	
}

div.find-me{
	position: absolute;
	font-size:0.01px;
	left:-45mm;
	width: 45mm;
	height: 36mm;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*TODO: fallbacks*/

}
div.find-me.desktop{
  display: block;
  background-image: url('../img/find_me_right.png');
}
div.find-me.mobile{
  position: relative;
  left:0;
  margin:auto;
  width: 74mm;
  height: 40mm;
  display: none;
  background-image: url('../img/find_me_up.png');
}
.control-label{
  margin-top:5pt;
}

.titles{
  width:100%;
  display: block;
  margin-bottom: 0pt;
}
.titles h2 span{
  font-weight: 300;
  margin-top: 10px;
}
body, html {
  height: 100%;
}
.step{
  display: block;
  min-height: 100%;
  border:0;
}
.step:before, .step:after{
  content: " ";
  display: block;
  clear: both;
}
.previous-step, .next-step{
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(4,9,14);
  font-family: Bebas-neue;
}
.previous-step:hover, .next-step:hover{
  color: rgb(226,0,122);
}

.portfolio{
}
.portfolio .item img{
  display: block;
  width: 100%;
  height: auto;
}

.submission-confirm{
  margin-top:20px;
}
.submission-confirm.success{
  border: 1px dotted rgb(4,9,14);
}
.submission-confirm.error{
  border: 1px dotted rgb(226,0,122);
}
/*Media*/

@media (max-width: 1024px) {
  #header .titles h2{
    font-size: 3em;
  }
  ul.headline li{
    font-size:1.5em;
  }
  div.find-me.desktop{display: none;}
  div.find-me.mobile{display: block;}

}
@media (max-width: 960px) {
  p, p.contact-info{
    padding-left:0;
    padding-right:0;
    text-align: center;
  }
  .titles h1, .titles h2{
    min-height: 50px;
  }
  ul.find{
    /*TODO:IE8-9*/
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  header ul li{
    display: inline-block;
    width: 49%;
    clear: both;
    text-align: center;
  }
  ul.what .en{
    clear: both;
  }
  ul.what li{
    margin-bottom: 0;
  }
  header .titles{
    margin-bottom: 20pt;
  }
}

@media (max-width: 850px) {
  header .titles h1{
    font-size: 4em;
  }
  header .titles h2{
    font-size: 3.1em;
  }
  ul.headline{
    display: block;
  }
  ul.headline li{
    display: inline-block;
    width: 45%;
    text-align: right;
    padding-left: 5px;
  }
  ul.headline li:first-child{
    text-align: left;
  }
  ul.headline li.clear:before{
    display: block;
    clear: both;
    content: "";
  }
  ul.headline li.clear{
    clear: left;
    text-align: left;
  }
  ul.headline li.hidden{
    display: none;
  }
  ul.headline li.small-separator{
    width: 2%;
  }
}
@media (max-width: 780px) {
  header .titles h1, header .titles h2{
    min-height:100px;
    line-height:100px;
  }
  header .titles h1{
    font-size: 4em;
  }
  header .titles h2{
    font-size: 3.1em;
  }
  #header .titles h1, #header .titles h2{
    width: 49%;
  }
  .titles h2 span{
    margin-top: 0px;
    font-weight: 300;
  }
  #header .titles h1, #header .titles h2{
    min-height: 0;
    height: 70px;
  }
  #header .titles h1{
    font-size: 2.5em;
    line-height: 2.5em;
  }
  #header .titles h2 .smaller{
    font-size: 0.6em;
    line-height: 90px;
  }
  ul.headline li{
    font-size: 2em;
  }
  ul.headline li.small-separator{
    font-size: 1.5em;
  }
  #header{
    height:50px;
  }
  .headline{
    margin-bottom: 100px;
  }
}

@media (max-width: 735px) {
  header .titles h1, header .titles h2{
    min-height: 80px;
    line-height: 80px;
  }
  header .titles h1{
    font-size: 3em;
  }
  header .titles h2{
    font-size: 2.5em;
  }
  ul.headline li{
    font-size: 1.5em; 
  }
}
@media (max-width: 490px) {
  header .titles h1, header .titles h2{
    min-height: 60px;
    line-height: 60px;
  }
  header .titles h1{
    font-size: 2.5em;
  }
  header .titles h2{
    font-size: 2em;
  }
}
@media (max-width: 440px) {
  header .titles{
  }
  header .titles h1, header .titles h2{
    text-align: center;
    display: block;
    width: 100%;
    line-height: auto;
    min-height: 0;
  }
  header .titles h1 span, header .titles h2 span{
    float: none;
    border: 0;
    padding: 0;
  }
  ul.find li{
    width: 15mm;
    height: 15mm;
  }
  ul.headline li, ul.headline li.clear, ul.headline li:first-child {
    display: block;
    width: 100%;
    text-align: center;
  }
  ul.headline li.small-separator{
    display: none;
  }
 
}